ul {
	list-style-type: none;
}

.skill-title {
	margin: 0 2rem 2rem 2rem;
}
.card {
	margin-top: 3rem;
	padding: 40px 0;
	background-color: white;
	box-shadow: 0 70px 140px 0 rgb(130 136 171 / 20%);
}

.responsive-img {
	max-width: 100px;
}

.about-section-title {
	margin-top: 110px;
}

.contact-bg-rear {
	background-color: #4158d0;
	background-image: linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	);
}

.contact-social-title {
	margin-bottom: 2rem !important;
}

.social-media-link {
	padding: 2rem;
	text-decoration: none;
	border-radius: 10px;
}

.social-media-link:hover {
	box-shadow: 0 0 1rem lightgray;
}

i.tiny {
	font-size: 1rem;
}

span.h6 {
	display: block;
	margin-top: 1rem;
}

@media (min-width: 768px) {
	ul {
		list-style-type: circle;
	}

	.about-section-title {
		margin-top: 200px;
	}
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid lightgray;
	border-radius: 10px;
	z-index: 6;
	background-color: white;
	width: 75%;
	max-height: 80%;
	overflow: scroll;
	padding: 30px;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.modal-header .title {
	font-size: 1.25rem;
	font-family: 'Playfair Display';
	font-size: 1.75rem;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body .h6 {
	font-family: 'Playfair Display';
	font-size: 1.25rem;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	z-index: 5;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}
