{% extends "layout.html" %}

{% block title %}About +{% endblock %}

{% block body %}

<div class="about-page">

    <div class="row">
        <div class="col s12">
            <h1>About Me</h1>

            <div class="card-panel">
                <p>I'm a full-deck web developer with an entrepreneurial spirit. An endless passion for new technology
                    and finding efficiencies is the driving force behind every project I approach. It's been said that I
                    have a relentless pursuit of knowledge.</p>

                <p>With a Midwestern work ethic and eternally positive attitude, I'm a result-driven professional
                    dedicated to working with a growing team to bring creativity, innovation, and fresh ideas while
                    cultivating a fun, long-lasting relationship.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h1>Work Experience</h1>

            <div class="card">
                <div class="card-panel">

                    <span class="card-title">Mi Casa Cake Shop</span><span class="grey-text"> | Business Manager</span>
                    <ul class="bullet-points">
                        <li>
                            Managed business operations in a fast-paced, multi-project orientated environment
                        </li>
                        <li>
                            Reduced monthly card processing fees by 67% by extensively researching merchant processors for the Point of Sales system
                        </li>
                        <li>
                            Enhance existing systems by analyzing business objectives, preparing an action plan, and identifying areas for modification and improvement
                        </li>
                        <li>
                            Reduced the time to complete a cake order by establishing a Kanban system to achieve the ability to track the progress of the cake
                        </li>
                    </ul>
                    <div class="card-action">
                        <p>September 2020 - Present | Des Moines, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel">

                    <span class="card-title">Principal Financial Group</span><span class="grey-text"> | Software Engineer</span>

                    <ul class="bullet-points">
                        <li>
                            Software Engineer with a Front End focus
                        </li>
                        <li>
                            Updated Principal's Onboarding website by converting existing web pages to be mobile-friendly to achieve a seamless experience for both desktop and mobile devices
                        </li>
                        <li>
                            Solved business problems as part of a scrum team to deliver innovative solutions and provide ongoing support
                        </li>
                        <li>
                            Collaborated with architectural engineers, technical engineers, and other roles on application design and architecture
                        </li>
                        <li>
                            Followed best practices as laid out by the team to ensure accessibility, application performance, and online security
                        </li>
                    </ul>
                    <div class="card-action">
                        <p>November 2019 - September 2020 | Des Moines, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel">

                    <span class="card-title">Stelter Company</span><span class="grey-text"> |&nbsp;eMarketing
                        Specialist</span>

                    <ul class="bullet-points">
                        <li>
                            Developed 12 email templates using HTML5 and CSS3 to be used in Salesforce's Marketing Cloud
                        </li>
                        <li>
                            Led email design meetings in conjunction with the art department to design the email using a mobile-ﬁrst approach
                        </li>
                        <li>
                            Approached the email build process with graceful degradation methodology and ran updates through the progressive enhancement mindset
                        </li>
                        <li>
                            Made building new emails easier by creating segments of the email layout into self-contained blocks of code to practice modular programming
                        </li>
                        <li>
                            Communicated any delays, missing assets, email change conﬂicts with the Customer Success Manager through email, project management software, instant messenger app, and daily conversations
                        </li>
                        <li>
                            Spearheaded the development of a new building method leveraging AMPScript which cut email build time up to 60%
                        </li>
                        <li>
                            Saved time building recurring emails by using functions that take variable sets in the email and join them with a set of other variables pulled from the Salesforce database to automatically populate the content of the email
                        </li>
                    </ul>
                    <div class="card-action">
                        <p>August 2016 - November 2019 | Urbandale, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel">
                    <span class="card-title">The Bernard Firm</span><span class="grey-text"> |&nbsp;IT&nbsp;Specialist / Web Developer</span>
                    <ul class="bullet-points">
                        <li>
                            Formalized the procedure of submitting reoccurring H2-A visa applications
                        </li>
                        <li>
                            Built a Customer Relationship Management (CRM) using Ruby on Rails
                        </li>
                        <li>
                            Save time by providing the ﬁrm with centralized access to the employee's previous applications, identiﬁcation documents, and personal information to achieve a decreased ﬁling time of recurring H2-A visa applicants by 42%
                        </li>
                    </ul>
                    <div class="card-action">
                        <p>2015 - 2016 | Ames, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel">
                    <span class="card-title">Insurance Auto Auction</span><span class="grey-text"> |
                        Customer&nbsp;Service&nbsp;Representative</span>

                    <p>As a Customer Service Representative, I forged a lasting relationship with the Spanish speaking
                        community by improving the buyer's experience. I aimed to improve all of our customer's
                        experience by looking at multiple touch points to see where in the auction lifecycle we can ease
                        any tension. Examples are; streamlining the vehicle consignment process, managing big buyers'
                        titles, created examples of how to fill out common forms like money orders and vehicle titles.
                    </p>
                    <p>That extended to my team members by seeing the opportunity to answer the common question of how
                        much a vehicle would cost if they won it a certain amount by creating a web app in plain
                        JavaScript that calculated the cost for us.</p>
                    <div class="card-action">
                        <p>2014 - 2015 | Waukee, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h1>Education</h1>
            <div class="card">
                <div class="card-panel">
                    <span class="card-title">Abraham Lincoln High School</span><span class="grey-text"> | Des Moines,
                        IA</span>
                    <ul>
                        <li>High School Diploma</li>
                    </ul>
                </div>
            </div>

            <h2>Continuing Education</h2>
            <div class="card">
                <div class="card-panel">
                    <a href="https://teamtreehouse.com/about">
                        <span class="card-title">Treehouse <i class="material-icons">open_in_new</i></span>
                    </a>

                    <ul class="collection">
                        <li class="collection-item">Web Design</li>
                        <li class="collection-item">Front End Web Development</li>
                        <li class="collection-item">Full Stack JavaScript</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-panel">
                    <a href="https://www.edx.org/">
                        <span class="card-title">edX <i class="material-icons">open_in_new</i></span>
                    </a>
                    <ul class="collection">
                        <li class="collection-item">CS50 Introduction to Computer Science</li>
                        <li class="collection-item">Introduction to Computer Science and Programming Using Python</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-panel">
                    <a href="https://blog.coursera.org/about/">
                        <span class="card-title">Coursera <i class="material-icons">open_in_new</i></span>
                    </a>
                    <ul class="collection">
                        <li class="collection-item">Computer Science 101</li>
                        <li class="collection-item">Introduction to HTML5</li>
                        <li class="collection-item">Introduction to CSS3</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-panel">
                    <a href="https://www.udemy.com/">
                        <span class="card-title">Udemy<i class="material-icons">open_in_new</i></span>
                    </a>

                    <ul class="collection">
                        <li class="collection-item">Intro to Storytelling: Wow Your Crowd</li>
                        <li class="collection-item">Create Amazing Responsive Email with Foundation for Emails 2</li>
                        <li class="collection-item">Google Analytics For Beginners (Step by Step)</li>
                        <li class="collection-item">MERN Stack Front To Back: Full Stack React, Redux &amp; Node.js</li>
                        <li class="collection-item">Modern React with Redux [2019 Update]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- skills start -->
    <div class="row">
        <div class="col s12">
            <h1>Skills</h1>

            <!-- Skills: HTML -->
            <div class="card">
                <div class="card-content" id="skills">
                    <h2>HTML</h2>
                    <div class="row text-center">
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/html5.png') }}" class="responsive-img">HTML5
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/react.png') }}" class="responsive-img">JSX
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/jinja2.png') }}" class="responsive-img">Jinja2
                        </div>
                    </div>
                </div>
            </div><!-- ./ -->

            <!-- Skills: CSS -->
            <div class="card">
                <div class="card-content" id="skills">
                    <h2>CSS</h2>
                    <div class="row text-center">
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/css3.png') }}" class="responsive-img">CSS3
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/foundation.png') }}" class="responsive-img">Foundation
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/materialize.png') }}" class="responsive-img">Materialize</div>
                    </div>
                </div>
            </div><!-- ./ -->

            <!-- Skills: Javascript -->
            <div class="card">
                <div class="card-content" id="skills">
                    <h2>Javascript</h2>
                    <div class="row text-center">
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/react.png') }}" class="responsive-img">React
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/javascript.png') }}" class="responsive-img">Javascript
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/material-ui-logo.png') }}" class="responsive-img">Material-UI
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/nodejs.png') }}" class="responsive-img">Node
                        </div>
                    </div>
                </div>
            </div><!-- ./ -->

            <!-- Skills: Backend -->
            <div class="card">
                <div class="card-content" id="skills">
                    <h2>Backend</h2>
                    <div class="row text-center">
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/python.png') }}" class="responsive-img">Python
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/flask.png') }}" class="responsive-img">Flask
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/ruby.png') }}" class="responsive-img">Ruby
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/rails.png') }}" class="responsive-img">Rails
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/mongodb.png') }}" class="responsive-img">MongoDB
                        </div>
                    </div>
                </div>
            </div><!-- ./ -->

            <!-- Skills: Other -->
            <div class="card">
                <div class="card-content" id="skills">
                    <h2>Other</h2>
                    <div class="row text-center">
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/github.png') }}" class="responsive-img">Github
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/illustrator.png') }}" class="responsive-img">Adobe
                            Illustrator
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/photoshop.png') }}" class="responsive-img">Adobe
                            Photoshop</div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/designer.png') }}" class="responsive-img">Affinity
                            Designer
                        </div>
                        <div class="col s4 m2 center"><img alt="" src="{{ url_for('static', filename='images/photo.png') }}" class="responsive-img">Affinity
                            Photo</div>
                    </div>
                </div>
            </div><!-- ./ -->

        </div>
    </div>
    <!-- skills end -->
</div>

{% endblock %}