{% extends "layout.html" %}

{% block title %}About +{% endblock %}

{% block body %}

<div class="about-page">

    <div class="row">
        <div class="col s12">
            <h1>About Me</h1>

            <div class="card-panel">
                <p>I'm a full-deck web developer with an entrepreneurial spirit. An endless passion for new technology
                    and finding efficiencies is the driving force behind every project I approach. It's been said that I
                    have a relentless pursuit of knowledge.</p>

                <p>With a Midwestern work ethic and eternally positive attitude, I'm a result-driven professional
                    dedicated to working with a growing team to bring creativity, innovation, and fresh ideas while
                    cultivating a fun, long-lasting relationship.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h1>Work Experience</h1>

            <div class="card">
                <div class="card-panel">

                    <span class="card-title">Stelter Company</span><span class="grey-text"> |&nbsp;eMarketing
                        Specialist</span>

                    <p>Developed 12 email templates using HTML5 and CSS3 to be used in Salesforce's Marketing Cloud. Led
                        email design meetings in conjunction with the art department to design the email using a
                        mobile-first approach. Approached the email build process with graceful degradation methodology
                        and ran updates through the progressive enhancement mindset. Practiced modular programming by
                        building the layout segments of the email into blocks of code to compose new emails easier.</p>
                    <p>Communicated any delays, missing assets, email change conflicts with the Customer Success Manager
                        through email, project management software, instant messenger app and daily conversations</p>
                    <p>Spearheaded the development of a new building-method leveraging AMPScript which cut email build
                        time up to 60%. Used functions that take variables set in the email joined them with a table set
                        of other variables pulled from the Salesforce database to automatically populate the content of
                        the email.</p>
                    <div class="card-action">
                        <p>August 2016 - Present | Urbandale, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel">
                    <span class="card-title">The Bernard Firm</span><span class="grey-text"> |&nbsp;IT&nbsp;Specialist / Web Developer</span>

                    <p>Formalized the procedure of submitting reoccurring H2-A visa applications by creating a Data
                        Management System (DMS) web app that mobilized our resources, protocols and confidential
                        documents. The DMS managed American clients' employees who were awarded temporary work visas. It
                        was built with Ruby on Rails because quick development was an important factor in the season
                        heavy life cycle of submitting applications.</p>
                    <p>The DMS decreased filing time of recurring H2-A visa applicants by 42% by providing the firm with
                        centralized access to the employee's previous applications, identification documents, and
                        personal information.</p>
                    <div class="card-action">
                        <p>2015 - 2016 | Ames, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel">
                    <span class="card-title">Insurance Auto Auction</span><span class="grey-text"> |
                        Customer&nbsp;Service&nbsp;Representative</span>

                    <p>As a Customer Service Representative, I forged a lasting relationship with the Spanish speaking
                        community by improving the buyer's experience. I aimed to improve all of our customer's
                        experience by looking at multiple touch points to see where in the auction lifecycle we can ease
                        any tension. Examples are; streamlining the vehicle consignment process, managing big buyers'
                        titles, created examples of how to fill out common forms like money orders and vehicle titles.
                    </p>
                    <p>That extended to my team members by seeing the opportunity to answer the common question of how
                        much a vehicle would cost if they won it a certain amount by creating a web app in plain
                        JavaScript that calculated the cost for us.</p>
                    <div class="card-action">
                        <p>2014 - 2015 | Waukee, IA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h1>Education</h1>
            <div class="card">
                <div class="card-panel">
                    <span class="card-title">Abraham Lincoln High School</span><span class="grey-text"> | Des Moines,
                        IA</span>
                    <ul>
                        <li>High School Diploma</li>
                    </ul>
                </div>
            </div>

            <h2>Continuing Education</h2>
            <div class="card">
                <div class="card-panel">
                    <a href="https://teamtreehouse.com/about">
                        <span class="card-title">Treehouse <i class="material-icons">open_in_new</i></span>
                    </a>

                    <ul class="collection">
                        <li class="collection-item">Web Design</li>
                        <li class="collection-item">Front End Web Development</li>
                        <li class="collection-item">Full Stack JavaScript</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-panel">
                    <a href="https://www.edx.org/">
                        <span class="card-title">edX <i class="material-icons">open_in_new</i></span>
                    </a>
                    <ul class="collection">
                        <li class="collection-item">CS50 Introduction to Computer Science</li>
                        <li class="collection-item">Introduction to Computer Science and Programming Using Python</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-panel">
                    <a href="https://blog.coursera.org/about/">
                        <span class="card-title">Coursera <i class="material-icons">open_in_new</i></span>
                    </a>
                    <ul class="collection">
                        <li class="collection-item">Computer Science 101</li>
                        <li class="collection-item">Introduction to HTML5</li>
                        <li class="collection-item">Introduction to CSS3</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-panel">
                    <a href="https://www.udemy.com/">
                        <span class="card-title">Udemy<i class="material-icons">open_in_new</i></span>
                    </a>

                    <ul class="collection">
                        <li class="collection-item">Intro to Storytelling: Wow Your Crowd</li>
                        <li class="collection-item">Create Amazing Responsive Email with Foundation for Emails 2</li>
                        <li class="collection-item">Google Analytics For Beginners (Step by Step)</li>
                        <li class="collection-item">MERN Stack Front To Back: Full Stack React, Redux &amp; Node.js</li>
                        <li class="collection-item">Modern React with Redux [2019 Update]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}