{% extends "layout.html" %}

{% block title %}Contact +{% endblock %}

{% block body %}

<div>
    <div>
        <div>
            <div>
                <h2>Contact Information</h2>
                <div>
                    <div>
                        <p><span style="unicode-bidi:bidi-override; direction: rtl;">moc.liamg@100yawslabinnaH</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span style="unicode-bidi:bidi-override; direction: rtl;">5263-223-515</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <h2>Social Accounts</h2>
                <div>
                    <div>
                        <a href="https://github.com/josue-acosta">
                            <img alt="github" src="{{ url_for('static', filename='images/github-01.png') }}" class="responsive-img left">
                            <p>GitHub</p>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/josueacosta/">
                            <img alt="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}">
                            <p>LinkedIn</p>
                        </a>
                    </div>
                    <div>
                        <a href="https://twitter.com/ja_alejandre">
                            <img alt="twitter" src="{{ url_for('static', filename='images/twitter.png') }}">
                            <p>Twitter</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}