{% extends "layout.html" %} {% block title %}Home +{% endblock %} {% block body
%}

<section class="home-hero">
	<div class="hero-bg">
		<div class="hero-pattern-bg">
			<img
				class="hero-pattern-img__default"
				src="https://paperpillar.com/assets/images/hero-pattern-bg.png"
			/>
		</div>
	</div>

	<div class="hero-character">
		<div class="hero-guy-1">
			<img
				class="hero-guy-1__default"
				src="https://paperpillar.com/assets/images/hero-guy-1.png"
			/>
			<img
				class="hero-guy-1__large"
				src="https://paperpillar.com/assets/images/hero-guy-1-lg.png"
			/>
		</div>
	</div>

	<div class="hero-overlay"></div>

	<div class="hero-section">
		<div class="hero-container">
			<div class="hero-text">
				<h1>I Am Josué&nbsp;Acosta</h1>
				<p>A passionate web developer</p>
			</div>
		</div>
	</div>
</section>

<section class="home-works">
	<div class="container">
		<div class="works-section">
			<div class="section-title text-center">
				<h2>Case Studies</h2>
			</div>

			<div class="works-container">
				<!-- case study: mi casa -->
				<div class="work-list crisp-works">
					<div class="work-wrapper d-flex">
						<div class="work-description">
							<div
								class="work-detail d-flex flex-column justify-content-between"
							>
								<div>
									<h3>Redesigning Crisp.im</h3>
									<p>Illustration, Web Design</p>
								</div>
								<div>
									<a
										class="btn btn-work"
										href="https://www.behance.net/gallery/50451725/Crisp"
										target="_blank"
										>View Project</a
									>
								</div>
							</div>
						</div>
						<div
							class="
								work-image
								d-flex
								justify-content-center
								align-items-center
							"
						>
							<img
								src="{{ url_for('static', filename='images/work-example.png') }}"
							/>
						</div>
					</div>
				</div>

				<!-- case study: mi casa -->
				<div class="work-list lifecycle-works">
					<div class="work-wrapper d-flex">
						<div class="work-description">
							<div
								class="work-detail d-flex flex-column justify-content-between"
							>
								<div>
									<h3>Beautiful Landing Page for Lifecycle</h3>
									<p>Illustration, Web Design</p>
								</div>
								<div>
									<a
										class="btn btn-work"
										href="https://www.behance.net/gallery/52119809/Lifecycle"
										target="_blank"
										>View Project</a
									>
								</div>
							</div>
						</div>
						<div
							class="
								work-image
								d-flex
								justify-content-center
								align-items-center
							"
						>
							<img
								src="{{ url_for('static', filename='images/work-example.png') }}"
							/>
						</div>
					</div>
				</div>

				<!-- case study: westside strength and conditioning -->
				<div class="work-list crisp-works">
					<div class="work-wrapper d-flex">
						<div class="work-description">
							<div
								class="work-detail d-flex flex-column justify-content-between"
							>
								<div>
									<h3>Redesigning Crisp.im</h3>
									<p>Illustration, Web Design</p>
								</div>
								<div>
									<a
										class="btn btn-work"
										href="https://www.behance.net/gallery/50451725/Crisp"
										target="_blank"
										>View Project</a
									>
								</div>
							</div>
						</div>
						<div
							class="
								work-image
								d-flex
								justify-content-center
								align-items-center
							"
						>
							<img
								src="{{ url_for('static', filename='images/work-example.png') }}"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="home-services">
	<div class="container">
		<div class="services-section">
			<div class="section-title text-center">
				<h2>Project Based Skills</h2>
			</div>

			<div class="services-container">
				<div class="row justify-content-center">
					<!-- project based skills: insurance auto auction -->
					<div class="col-sm-4 col-12">
						<div class="blog-item item">
							<div class="blog-image"
								><img
									class="img-fluid"
									alt="Blog image"
									src="https://cdn-images-1.medium.com/max/1024/1*WXwmbNZH3AY3NZQqf9240w.png"
							/></div>

							<div class="blog-description">
								<a
									target="_blank"
									href="https://medium.com/paperpillar/cinema-app-case-study-f69b590d98a3?source=rss----7f66ea7bde2a---4"
									class="blog-title"
									>Movie Ticket App Case Study</a
								>
							</div>
						</div>
					</div>

					<!-- project based skills: returning workers' Questionnaire -->
					<div class="col-sm-4 col-12">
						<div class="blog-item item">
							<div class="blog-image">
								<img
									class="img-fluid"
									alt="Blog image"
									src="https://cdn-images-1.medium.com/max/1024/1*WXwmbNZH3AY3NZQqf9240w.png"
								/>
							</div>

							<div class="blog-description">
								<a
									target="_blank"
									href="https://medium.com/paperpillar/cinema-app-case-study-f69b590d98a3?source=rss----7f66ea7bde2a---4"
									class="blog-title"
									>Movie Ticket App Case Study</a
								>
							</div>
						</div>
					</div>

					<!-- project based skills: play or pay contest -->
					<div class="col-sm-4 col-12">
						<div class="blog-item item">
							<div class="blog-image">
								<img
									class="img-fluid"
									alt="Blog image"
									src="https://cdn-images-1.medium.com/max/1024/1*WXwmbNZH3AY3NZQqf9240w.png"
								/>
							</div>

							<div class="blog-description">
								<a
									target="_blank"
									href="https://medium.com/paperpillar/cinema-app-case-study-f69b590d98a3?source=rss----7f66ea7bde2a---4"
									class="blog-title"
									>Movie Ticket App Case Study</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
