{% extends "layout.html" %}

{% block title %}Home +{% endblock %}

{% block body %}

<div class="home-page">
    <div class="row section">
        <div class="col s9 offset-s3">
            <p class="tag-line tag-line-padding right-align">I want to <span class="yellow-highlighter">make
                    things</span></p>
            <p class="tag-line right-align">that <span class="yellow-highlighter">make a difference</span></p>
        </div>
    </div>

    <div class="row section">
        <div class="col s9">
            <h1 class="hero-text">Web<br>Developer</h1>
        </div>
    </div>

</div>
{% endblock %}